/*
code by - Dhawal (@dhawalRath)
Date - 27th April 2021 
*/

@import 'resets', 'variables';

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name)
}

@function size($size-name) {
  @return map-get($font-sizes, $size-name)
}

body{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: $para-color;
  line-height: 1.5;
  background-color: $body-color;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}


.container-top{
  width: 40%;
  margin: 6rem auto 0 auto;
  text-align: center;
  // border: 2px red solid;

  .thin-title{
    font-weight: weight(thin);
  }

  .bold-title{
    color: $bold-color;
    margin-bottom: 10px;
  }

  @media (max-width: 800px){

    width: 85%;

    .thin-title,
    .bold-title{
      font-size: size(h2);
    }
  }
}

.main-container{
  width: 100%;
  margin: 65px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 2px blueviolet solid;

  @media (max-width: 800px){
    flex-direction: column;
  }
  .box{
    width: 350px;
    height: 250px;
    background-color: hsl(0, 0%, 100%);
    padding: 35px 32px;
    border-radius: 5px;
    box-shadow: 
    5px 10px 10px rgba(76, 78, 97, 0.1);
    position: relative;
    // border: 2px greenyellow solid;

    @media (max-width: 500px){
      width: 310px;
      height: 220px;
      padding: 30px 28px;
    }
    
    .box-title{
      color: $bold-color;
      margin-bottom: 10px;
    }

    .box-para{
      font-weight: weight(regular);
    }

    img{
      position: absolute;
      bottom: 35px;
      right: 32px;

      @media (max-width: 500px){
        bottom: 30px;
        right: 28px;
      }
    }
  }

  .box-1{
    border-top: 5px solid $box-1;
  }

  .inner-container{
    

    .box-2{
      margin: 0 30px 30px;
      border-top: 5px solid $box-2;

      @media (max-width: 800px){
        margin: 30px 0;
      }
    }
  
    .box-3{
      margin: 0 30px;
      border-top: 5px solid $box-3;

      @media (max-width: 800px){
        margin: 0 0 30px 0;
      }
    }
  }

  .box-4{
    border-top: 5px solid $box-4;
  }

}








// footer


.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}
